# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build files
dist/
build/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

lib/